*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

/* body{
  background-color: rgb(32, 72, 114);
  scroll-behavior: smooth;
  transition: all .5s ease;
} */